<nav class="navbar sticky-top navbar-light header-login">
    <a class="navbar-brand header-login-text" href="#">Travellers</a>
    <div class="navbar-collapse">
        <div class="navbar-nav">
            <div class="row">
                <app-header-link-button *ngIf='isUserLoggedIn' [buttonText]="'DASHBOARD'" [route]="'/home'"></app-header-link-button>
                <app-header-link-button *ngIf='isUserLoggedIn' [buttonText]="'CREATE QUOTE'" [route]="'/quote'"></app-header-link-button>
            </div>
        </div>
    </div>
    <app-logout *ngIf='isUserLoggedIn'></app-logout>
</nav>
