.header-login {
    background-color: #577958;
}

.header-login-text {
    color: #ffffff
}

.navbar-collapse {
    flex-basis: 1%;
}

/* .header-link-text {
    color: #fff !important;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
    font-size: small !important;
  } */

.active {
    font-weight: bold !important;
}