<nav class="navbar sticky-top navbar-light header-login">
    <a class="navbar-brand header-login-text" href="#">Travellers</a>
    <div class="navbar-collapse">
        <div class="navbar-nav">
            <div class="row">
                <app-header-link-button [buttonText]="'DASHBOARD'"></app-header-link-button>
                <app-header-link-button [buttonText]="'CREATE QUOTE'"></app-header-link-button>
            </div>
        </div>
    </div>
    <app-logout *ngIf='isUserLoggedIn'></app-logout>
</nav>
