<div class="container-fluid home-container">
    <div class="card-deck home-card-deck">
        <div class="card bg-light home-card">
            <div class="card-body">
                <h5 class="card-title home-card-title">Title</h5>
                <p class="card-text home-card-text"><small class="text-muted">10th May to 17th May, 2020</small></p>
                <p class="card-text home-card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text home-card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <div class="row">
                    <button type="button" class="btn btn-sm home-btn">SHOW DEALS</button>
                </div>
            </div>
        </div>
        <div class="card bg-light home-card">
            <div class="card-body">
                <h5 class="card-title home-card-title">Card title</h5>
                <p class="card-text home-card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text home-card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <div class="row">
                    <button type="button" class="btn btn-sm home-btn">SHOW DEALS</button>
                </div>
            </div>
        </div>
        <div class="card bg-light home-card">
            <div class="card-body">
                <h5 class="card-title home-card-title">Card title</h5>
                <p class="card-text home-card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text home-card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <div class="row">
                    <button type="button" class="btn btn-sm home-btn">SHOW DEALS</button>
                </div>
            </div>
        </div>
    </div>
</div>
